div {
    width: 200px;
    border: 2px solid orange;
    padding: 7px;
}

.box {
    background-color: rgba(228,150,111,0.5);
    font-size: 20px;  
    border-radius: 5px;
    margin-top: 20px;
    border-bottom: 5px solid rgba(235,167,221,0.5);
    display: inline-block;
    color: #fff;
    text-decoration: none;
}
.box:hover{
    background-color: rgba(235,167,221,0.5);
    transition: all 500ms ease;
    font-size: 25px; 
}